<div class="container">
  <%= form_for [@farm, @cherry], url: update_admin_cherry_path do |f| %>
    <h1 class="text-center my-5">Cherry編集（品種）</h1>
    <hr>
        <div class="row">
            <div class="col-md-3">
                <p class="text-center my-4">品種名</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4"><%= f.text_field :cherry_name %><%= f.hidden_field :farm_id, :value => @farm.id %></p>
            </div>

            <div class="col-md-3">
                <p class="text-center my-4">粒の大きさ</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4">大きい<p>
            </div>

            <div class="col-md-3">
                <p class="text-center my-4">甘み</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4">強い</p>
            </div>

            <div class="col-md-3">
                <p class="text-center my-4">酸味</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4">少ない</p>
            </div>

            <div class="col-md-3">
                <p class="text-center my-4">特徴</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4">粒が大きく甘い</p>
            </div>

            <div class="col-md-3">
                <p class="text-center my-4">イメージ画像選択</p>
            </div>
            <div class="col-md-9">
                <p class="text-center my-4">ボタン</p>
                <hr>
            </div>

                <button type="button" class="btn btn-primary">更新</button>
                <button type="button" class="btn btn-danger">削除</button>
        </div>
  <% end %>
</div>