<div class="about-visual">
  <div class="about-visual-content">
  	<p class="about-text">
  		サクランボが好きな方々に、<br>
  		<br>
		お気に入りの観光農園をより簡単に見つけてもらえるように<br>
		<br>
		encheriがあります。<br>
		<br>
		農家の方々が愛情込めて栽培したサクランボは<br>
		<br>
		一口で幸せを運んできてくれます。<br>
		<br>
		きっと、あなたにとって甘酸っぱい素敵な思い出になることでしょう。<br>
		<br>
		是非encheriで全国のサクランボ観光農園を探してみてください。<br>
	</p>
  </div>
</div>


