<div class="container">
	<div class="row">
	  	<div class="col-11">
			<h1 class="text-center my-4">管理者farm編集</h1>
			<p class="text-center my-4">※カテゴリーずつの編集を行ってください</p>
		</div>
		<div class="col-1">
				<button type="button" class="btn btn-warning">戻る</button>
		</div>
	 </div>

	<!-- Farm編集 -->
	<div class="row">
		<div class="col-12">
			<h3 class="my-5">Farm</h3>
				<div class="row">
					<div class="col-4">
						<p class="text-center">農園名</p>
					</div>
					<div class="col-8">
						<p class="text-center">aaaaaaa</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">営業期間</p>
					</div>
					<div class="col-8">
						<p class="text-center">6月</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">入園料金</p>
					</div>
					<div class="col-8">
						<p class="text-center">3,000円</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">地域</p>
					</div>
					<div class="col-8">
						<p class="text-center">山梨県</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">イメージ画像選択</p>
						<button type="button" class="btn btn-primary">選択</button>
					</div>
					<div class="col-8">
						<p class="text-center">aaaaaaa</p>
						<hr>
					</div>
				</div>


				<div class="row">
					<div class="col-4">
						<p class="text-center">農園の特徴</p>
					</div>
					<div class="col-8">
						<p class="text-center">美味しい</p>
						<hr>
						<button type="button" class="btn btn-primary">Farm情報更新</button>
						<button type="button" class="btn btn-danger">削除</button>
					</div>
				</div>

			<!-- User編集 -->
			<h3 class="my-5">User</h3>
				<div class="row">
					<div class="col-4">
						<p class="text-center">名前</p>
					</div>
					<div class="col-8">
						<p class="text-center">白石麻衣</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">名前（カナ）</p>
					</div>
					<div class="col-8">
						<p class="text-center">シライシマイ</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">郵便番号</p>
					</div>
					<div class="col-8">
						<p class="text-center">〒111-1111</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">住所</p>
					</div>
					<div class="col-8">
						<p class="text-center">東京都港区南青山</p>
						<hr>
					</div>
				</div>

				<div class="row">
					<div class="col-4">
						<p class="text-center">電話番号</p>
					</div>
					<div class="col-8">
						<p class="text-center">090-1111-1111</p>
						<hr>
						<button type="button" class="btn btn-primary">User情報更新</button>
						<button type="button" class="btn btn-danger">削除</button>
					</div>
				</div>

			<h3 class="my-5">Cherry</h3>
				<div class="row">
					<div class="col-4">
						<p class="text-center">取り扱い品種選択</p>
					</div>
					<div class="col-8">
						<p class="text-center">プルダウン</p>
						<hr>
						<button type="button" class="btn btn-primary">Cherry情報更新</button>
						<button type="button" class="btn btn-danger">削除</button>
					</div>
				</div>
		</div>
	</div>
</div>