<h1 class="text-center mt-5">Area</h1>
<div class="container">
	<div class="row">
		<div class="col-12">
			<table  class="table table-bordered my-5">
				<thead>
					<tr>
						<th class = "text-center">地域</th>
						<th class = "text-center">都道府県</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th class="text-center">北海道</th>
						<td>北海道</td>
					</tr>
					<tr>
						<th class="text-center">東北</th>
						<td>青森　岩手　宮城　秋田　山形　福島</td>
					</tr>
					<tr>
						<th class="text-center">関東</th>
						<td>東京　神奈川　千葉　埼玉　群馬　茨城　栃木</td>
					</tr>
					<tr>
						<th class="text-center">中部</th>
						<td>山梨　長野　静岡　愛知　岐阜　石川　新潟　富山　福井</td>
					</tr>
					<tr>
						<th class="text-center">近畿</th>
						<td>三重　滋賀　奈良　和歌山　京都　大阪　兵庫</td>
					</tr>
					<tr>
						<th class="text-center">中国</th>
						<td>岡山　広島　鳥取　島根　山口</td>
					</tr>
					<tr>
						<th class="text-center">四国</th>
						<td>香川　徳島　愛媛　高知</td>
					</tr>
					<tr>
						<th class="text-center">九州</th>
						<td>福岡　佐賀　長崎　大分　熊本　宮崎　鹿児島　沖縄</td>
					</tr>
				</tbody>
			</table>
		</div>
		<button type="button" class="btn btn-warning">戻る</button>
	</div>
</div>