<h1>編集</h1>
<div class="container">
	<div class="row">
	  	<div class="col-4">
		</div>
		<div class="col-5">
			<div class="d-flex juastify-content-center">
				<p>※カテゴリーずつの編集を行ってください</p>
			</div>
		</div>
		<div class="col-3">
			<div class="d-flex justify-content-center">
				<button type="button" class="btn btn-warning">戻る</button>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<div class="edit-farm">
				<h2 class=category>Farm</h2>
					<table class="farm-table">
						<colgroup span="1" style="width:20%;"></colgroup>
						<colgroup span="1" style="width:80%;"></colgroup>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<div class="edit-farm-name">
										<td>農園名</td>
										<td>観光果樹園ミスター</td>
									</div>
								</tr>
								<tr>
									<div class="edit-farm-day">
										<td>営業期間</td>
										<td>6月</td>
									</div>
								</tr>
								<tr>
									<div class="edit-price">
										<td>料金</td>
										<td>3000円</td>
									</div>
								</tr>
								<tr>
									<div class="edit-area">
										<td>地域</td>
										<td>山梨県</td>
									</div>
								</tr>
								<tr>
									<div class="edit-image">
										<td>イメージ画像</td>
										<td>aaaaaa</td>
									</div>
								</tr>
								<tr>
									<div class="edit-map">
										<td>地図のリンク</td>
										<td>bbbbbb</td>
									</div>
								</tr>
								<tr>
									<div class="edit-feature">
										<td>特徴</td>
										<td>美味しい品種が沢山</td>
									</div>
								</tr>
							</tbody>
					</table>
						<button type="button" class="btn btn-primary">更新</button>
						<button type="button" class="btn btn-danger">削除</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="container-user">
				<h2 class=category>User</h2>
					<div class="user-table">
						<colgroup span="1" style="width:20%;"></colgroup>
						<colgroup span="1" style="width:80%;"></colgroup>
							<thead>
								<tr>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<div class="row">
										<td>名前</td>
										<td>白石麻衣</td>
									</div>
								</tr>
								<tr>
									<div class="row">
										<td>名前(カナ)</td>
										<td>シライシマイ</td>
									</div>
								</tr>
								<tr>
									<div class="row">
										<td>郵便番号</td>
										<td>1111111</td>
									</div>
								</tr>
								<tr>
									<div class="row">
										<td>住所</td>
										<td>東京都港区南青山</td>
									</div>
								</tr>
								<tr>
									<div class="row">
										<td>電話番号</td>
										<td>09000001111</td>
									</div>
								</tr>
							</tbody>
								<button type="button" class="btn btn-primary">User情報更新</button>
								<button type="button" class="btn btn-danger">全ての情報削除</button>
					</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="container-cherry">
				<h2 class=category>Cherry</h2>
					<div class="cherry-table">
						<colgroup span="1" style="width:20%;"></colgroup>
						<colgroup span="1" style="width:80%;"></colgroup>
							<thead>
								<tr>
									<th></th>
									<th></th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<div class="row">
										<td>取り扱い品種</td>
										<td>紅秀峰</td>
										<td>佐藤錦</td>
										<td>祝錦</td>
									</div>
								</tr>
							</tbody>
								<button type="button" class="btn btn-primary">Cherry情報更新</button>
								<button type="button" class="btn btn-danger">全ての情報削除</button>
					</div>
			</div>
		</div>
	</div>
</div>