// Place all the styles related to the cherries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.breed-content{
	padding-bottom: 100px;
}
.breed-name{
	margin-right: 100px;
}
.show-map-image{
	margin-left: 100px;
}
.breed-cherry-name{
	width: 100%;
}
.my-farm-image{
	margin:15px 0 15px 250px;
}